<navbar></navbar>

<div class="container">
    <h2>Sign in</h2>

    <form method="post" ng-submit="vm.signIn()">
        <div class="row">
            <div class="four columns">
                <input class="u-full-width" type="text" name="name" ng-model="vm.login.username" placeholder="Name">
            </div>
            <div class="four columns">
                <input class="u-full-width" type="password" name="pass" ng-model="vm.login.password" placeholder="Password">
            </div>
            <div class="four columns">
                <button class="button-primary u-full-width">Sign in</button>
            </div>
        </div>
    </form>
</div>